KUBECONFIG_PATH=/home/oleg/Documents/hse-llm-project/cluster-config/llm_proj_talos/kubeconfig
DNS_SERVER=10.42.0.10
DNS_DOMAIN=hse-llm-project-2026.ru
INSTALL_CILIUM=true
CILIUM_RELEASE=cilium
CILIUM_NAMESPACE=kube-system
CILIUM_VERSION=
